<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MHWI_UGS_ModPack_Mod_Custumization_Selector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MHWI_UGS_ModPack_Mod_Custumization_Selector.Properties.Settings>
            <setting name="QuestBoardBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UGSClockBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BeheBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MantleBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanRedShieldEFXBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LSTrailEFXBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HueBeatEFXBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HamBlossomEFXBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBSakuraSAEDEFXBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HueLustSFXBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Boosette" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ina" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LBC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MHWI_Trailer_IMG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAH_V1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAH_V2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NativePcChecker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Exit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Restart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InitialEntry" serializeAs="String">
                <value>False</value>
            </setting>
        </MHWI_UGS_ModPack_Mod_Custumization_Selector.Properties.Settings>
    </userSettings>
</configuration>